version: '3'
services:
  web:
    build: ./apps/web
    ports:
      - '3000:3000'
  api:
    build: ./services/api
    ports:
      - '4000:4000'
  ai:
    build: ./services/ai
    ports:
      - '5000:5000'